<!-- public/views/binary.html -->

<div>

    <md-icon md-svg-icon="img/binary-code.svg" class="avatarPage" style="float: left;"></md-icon>

    <div class="pageHeadder">
      <h3>Here is where you can test your binary Palindromes</h3>
    </div>


      <md-content flex="" layout-padding="">
      
        <p>Sometimes it's fun to come across a binary number and discover it is a palindrome.  If you happen to have a really long one you want to check, you can do so here.  No need for head scratching, just paste it in.</p>

      </md-content>




    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm="">
        <input style="width: 500px;" type="text" name="nerd" ng-model="userEntry" placeholder="ex: '101101' (decimal 45), and the longer, the more points!">

        <button md-button ng-click="checkBits(userEntry)" class="timbus">Submit Tim bus!</button>
      </md-input-container>
    </div>

    <h4>{{ tagline }}</h4>

    <h1>{{ prize }}</h1>




    <!-- Add new field that translind the bin to dec -->
      <div  style="text-align: center;" ng-repeat="words in bitcollection">
        <div>
          <hr class="style-two">
          <p class="list">{{words.entry}}</p>
        </div>
      </div>
    
</div>