<!-- public/views/genomic.html -->

<div>

    <md-icon md-svg-icon="img/dna.svg" class="avatarPage" style="float: left;"></md-icon>

    <div class="pageHeadder">
      <h3>Here is where you can test your genomic Palindromes</h3>
    </div>


      <md-content flex="" layout-padding="">
      
        <p class="page">A palindromic sequence is a nucleic acid sequence on double-stranded DNA or RNA wherein reading 5' (five-prime) to 3' (three prime) forward on one strand matches the sequence reading backward 5' to 3' on the complementary strand with which it forms a double helix. This definition of palindrome thus depends on complementary strands being palindromic of each other.</p>

        <p class="page">The meaning of palindrome in the context of genetics is slightly different from the definition used for words and sentences. Since a double helix is formed by two paired strands of nucleotides that run in opposite directions in the 5'-to-3' sense, and the nucleotides always pair in the same way (Adenine (A) with Thymine (T) for DNA, with Uracil (U) for RNA; Cytosine (C) with Guanine (G)), a (single-stranded) nucleotide sequence is said to be a palindrome if it is equal to its reverse complement. For example, the DNA sequence ACCTAGGT is palindromic because its nucleotide-by-nucleotide complement is TGGATCCA, and reversing the order of the nucleotides in the complement gives the original sequence. - Wikipedia</p>

      </md-content>



    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm="">
        <form ng-submit="checkGenome(userEntry)">
          <input style="width: 500px;" type="text" name="nerd" ng-model="userEntry" placeholder="ex: 'ACCTAGGT' (complement is TGGATCCA and will be figured out for you)">
          <button md-button ng-click="checkGenome(userEntry)" class="timbus">Submit Tim bus!</button>
        </form>
      </md-input-container>
    </div>



    <h4 class="tag-line">{{ tagline }}</h4>

    <div class="prize-line">{{ prize }}</div>



      <div  style="text-align: center;" ng-repeat="words in genomicCollection">
        <div>
          <hr class="style-two">
          <p class="list">{{words.entry}}</p>
        </div>
      </div>
    
</div>