<!-- public/views/nerd.html -->

<div class="jumbotron text-center">

    <h1>EmordnilaPalindromE</h1>

    <h3>Here is where you can enter some Palindromes</h3>

    <input style="width: 500px;" type="text" name="nerd" ng-model="userEntry" placeholder="ex: 'Race fast safe car', and the longer, the more points!">

    <button ng-click="check(userEntry)" class="timbus">Submit Tim bus!</button>

    <h4>{{ tagline }}</h4>

    <div>{{ prize }}</div>

    <hr class="style-two">

      <div ng-repeat="words in palincollection">
        <div>
          <h4>{{words.entry}}</h4>
        </div>
      </div>
    
</div>