<!-- public/views/nerd.html -->

<div>

    <md-icon md-svg-icon="img/sort-z-to-a.svg" class="avatarPage" style="float: left;"></md-icon>

    <div class="pageHeadder">
      <h3>Here is where you can enter some letter based Palindromes</h3>
    </div>


      <md-content flex="" layout-padding="">
      
        <p>All valid entries over 20 characters long will be appended to the home view. For entries of any size, to be considered valid, they must be letter based palindromes over 2 characters long. Entries are first sent to an online dictionary to verify that the words are real.  They are then checked by removing all spaces and punctuation, reversing the letters, and then comparing to the original entry.  The length of the entries does not include spaces or punctuation.</p>

      </md-content>


    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm="">
        <input style="width: 500px;" type="text" ng-model="userEntry" placeholder="ex: 'Race fast safe car', and the longer, the more points!">

        <button md-button ng-click="check(userEntry)" class="timbus">Submit Tim bus!</button>
      </md-input-container>
    </div>


    <h4>{{ tagline }}</h4>

    <div>{{ prize }}</div>

    <iframe class="userPrize" id="utubePrize" width="560" height="315" src="https://www.youtube.com/embed/JUQDzj6R3p4?autoplay=1" frameborder="0" allowfullscreen ng-if="showIframe"></iframe>

      <div  style="text-align: center;" ng-repeat="words in palincollection">
        <div>
          <hr class="style-two">
          <p class="list">{{words.entry}}</p>
        </div>
      </div>
    
</div>