<!-- public/views/nerd.html -->

<div>

    <md-icon md-svg-icon="img/sort-z-to-a.svg" class="avatar" style="float: left;"></md-icon>

    <div class="pageHeadder">
      <h3>Here is where you can enter some letter based Palindromes</h3>
    </div>

    <input style="width: 500px;" type="text" name="nerd" ng-model="userEntry" placeholder="ex: 'Race fast safe car', and the longer, the more points!">

    <button ng-click="check(userEntry)" class="timbus">Submit Tim bus!</button>

    <h4>{{ tagline }}</h4>

    <div>{{ prize }}</div>

      <div  style="text-align: center;" ng-repeat="words in palincollection">
        <div>
          <hr class="style-two">
          <h4>{{words.entry}}</h4>
        </div>
      </div>
    
</div>