<!-- public/views/nerd.html -->

<div class="jumbotron text-center">
    <h2>Here is where you can enter some Palindromes</h2>

    <input type="text" ng-model="userEntry" placeholder="ex: 'Race fast safe car'">

    <button ng-click="check(userEntry)">Submit Tim bus!</button>

    <h3>{{ tagline }}</h3>

      <div ng-repeat="words in palincollection">
        <div>
          <h2>{{words.entry}}</h2>
        </div>
      </div>
    




<!--     <form name='palenForm' ng-submit="addNerd()" novalidate>
      <input name='nerd' type="text"
        ng-model="nerd.text"
        placeholder="ex: 'Race fast safe car'" required
        ng-class="{'error': palenForm.$invalid && palenForm.$dirty}"/>

      <button type="submit" ng-disabled='palenForm.$invalid'>
        Submit Tim bus
      </button>
    </form> -->


    <!-- <p>{{ successprize }}</p> -->
</div>