<!-- public/views/nerd.html -->

<div class="jumbotron text-center">
    <h2>Here is where you can enter some Palindromes</h2>

    <input style="width: 527px;" type="text" name="nerd" ng-model="userEntry" placeholder="ex: 'Race fast safe car', and the longer, the more points!">

    <button ng-click="check(userEntry)">Submit Tim bus!</button>

    <h3>{{ tagline }}</h3>

    <div>{{ prize }}</div>

      <div ng-repeat="words in palincollection">
        <div>
          <h2>{{words.entry}}</h2>
        </div>
      </div>
    

</div>