body {
  margin: 0px auto;
  position: absolute;
}

/*.navbar {
  border-radius: 5px;
  margin-bottom: 5px;
  height: 25px;
}

.navbar-header {
  text-align: center;
  font-size: 50px;
  letter-spacing: 15px;
  font-weight: bold;
  color: #000000;
  margin-top: -13px;
}*/


h1 { 
  text-align: center;
  letter-spacing: 20px;
  padding-top: -15px;
}

h2 { 
  text-align: center;
  letter-spacing: 15px;
}


/*h3 { 
  text-align: center;
  color: #000000;
}*/

textarea:focus, input:focus{
    outline: none;
}

*:focus {
    outline: none;
}

.quote {
  font-style: italic;
}

.timbus {
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
}


.timbus:active {
  background-color: #000000;
  color: #eee;
  transform: translateY(0px);
}


/*Hover does not work well with mobile*/
/*.timbus:hover {
    background-color: #000000;
    color: #eee;
}*/

.go {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  display: block;
  margin: auto;
  width: 200px;
  text-align: center;
  color: #663399;
  background-color: #eee;
  font-size: 33px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 55px;
  border: 1px solid #663399;
  margin-bottom: 200px;
}

.go:hover {
    background-color: #663399;
    color: #eee;
}

.vote {
/*  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;*/
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-align: center;
  color: #663399;
  background-color: #eee;
  font-size: 33px;
  font-weight: bold;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  display: block;
  margin: auto;
  border: 1px solid #663399;
  margin-top: 0px;
  margin-bottom: 40px;
}

.plusMinus:active {
  background-color: #663399;
  color: #eee;
  transform: translateY(0px);
}

/*.vote:hover {
    background-color: #663399;
    color: #eee;
}*/


.space {
  text-align: center;
  padding-top: -15px;
}

.space2 {
  text-align: center;
  padding-top: 15px;
}
  
